@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>Seller Details</h2>

<hr />
<div>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(Model => Model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(Model => Model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.BirthDate)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(Model => Model.BirthDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.BaseSalary)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(Model => Model.BaseSalary)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(Model => Model.Department)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(Model => Model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <div align="right"><a asp-action="Index">Back to List</a></div>
</div>
